@media screen and (max-width: 599px) {

body {
    background-color: black;
    color: white;
    max-width: 600px;
    min-height: 100vh;
}

.intro {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 480px;
    text-align: center;
    /*min-height: 100vh;*/
    /* try flex direction column? */
    /* you want min view height vh as 100 as we will have the same page with images to scroll down */
}

h1 {
    font-family: 'Open Sans';
    color: white;
    align-items: center;
    font-size: 1rem;
}

form, select {
    background: black;
    color: white;
}

.api-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    position: relative;
    .pic-size {
        max-width: 100%;
        max-height: auto;
    }
    .abstract-summary {
        position: absolute;
        font-family: 'Open Sans';
        font-size: 1rem;
        color: white;
        bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background: rgba(0,0,0,.75);
        color: white;
    }
}

.footer {
    font-family: 'Open Sans';
    color: white;
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
};


@media screen and (min-width: 600px) {

    body {
        background-color: black;
        color: white;
    }

    .intro {
        display: flex;
        flex-direction: column;        
        justify-content: center;
        align-content: center;
        max-width: 100%;
        text-align: center;
    }

    h1 {
        font-family: 'Open Sans';
        color: white;
        align-items: center;
        font-size: 1rem;
}

    form, select {
        background: black;
        color: white;
}

    .api-results {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.article {
    position: relative;
    .pic-size {
        width: 175px;
        height: 250px;
    }
    .abstract-summary {
        position: absolute;
        font-family: 'Open Sans';
        font-size: 1rem;
        color: white;
        bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background: rgba(0,0,0,.75);
        color: white;
    }
}


}
