@media screen and (max-width: 599px) {

body {
    background-color: black;
    color: white;
}


.intro {
    display: block;
    padding-top: 150px;
    text-align: center;
    /*min-height: 100vh;*/
    /* try flex direction column? */
    /* you want min view height vh as 100 as we will have the same page with images to scroll down */
    &.active {
        padding:0;
        img {
            max-width: 100px;
        }
    }
}

h1 {
    font-family: 'Open Sans';
    color: white;
    align-items: center;
    font-size: 1rem;
}

form, select {
    background: black;
    color: white;
}

.api-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    position: relative;
 
    .abstract-summary {
        position: absolute;
        font-family: 'Open Sans';
        font-size: 1rem;
        color: white;
        bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background: rgba(0,0,0,.75);
        color: white;
    }

    img {
        max-width: 100%;
        opacity: .8;
    }
    
    img:hover {
        opacity: 1;
    }
}

.footer {
    font-family: 'Open Sans';
    color: white;
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
};

// ****************************************** 600 ******************************************

@media screen and (min-width: 600px) {

    body {
        background-color: black;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro {
        display: flex;       
        justify-content: center;
        align-items: center;
        &.active {
            padding:0;
            img {
                max-width: 50px;
                padding-right: 75px;
            }
        }
    }

    h1 .choose {
        font-family: 'Open Sans';
        color: white;
        font-size: 1rem;
}

.choose {
    align-items: center;
    padding-right: 100px;
};

    .form, select {
        background: black;
        color: white;
}

    .api-results {
        display: flex;
        flex-wrap: wrap;

}


.article {
    position: relative;
    width: 25%;
    .pic-size {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    img {
        // max-width: 100%;
        opacity: .85;
    }
    
    img:hover {
        opacity: 1;
    }

    .abstract-summary {
        position: absolute;
        font-family: 'Open Sans';
        font-size: .9rem;
        color: white;
        bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        background: rgba(0,0,0,.75);
        color: white;
    }
}

.footer {
    font-family: 'Open Sans';
    color: white;
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

}
