@media screen and (max-width: 599px) {

body {
    background-color: black;
    color: white;
    font-family: 'OpenSans-Light';
}

.loader {
    height: 200px;
    margin: 0 auto;
}

.intro {
    display: block;
    padding-top: 150px;
    text-align: center;
    &.active {
        padding:0;
        img {
            max-width: 100px;
        }
    }
}

h1 {
    color: white;
    align-items: center;
    font-size: 1rem;
}

form, select {
    background: black;
    color: white;
}

.api-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.img-frame {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.article {
    position: relative;
 
    .abstract-summary {
        position: absolute;
        font-size: 1rem;
        color: white;
        bottom: 2px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 1px;
        background: rgba(0,0,0,.75);
        color: white;
    }

    img {
        height: 400px;
        width: 100%;
        opacity: .8;
        object-fit: cover;

    }
    
    img:hover {
        opacity: 1;
    }
}

.footer-news {
    text-transform: uppercase;
}

.footer {
    color: white;
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
};

// ****************************************** 600 ******************************************

@include tablet {

    .loader {
        height: 200px;
        margin: 0 auto;
    }

    body {
        background-color: black;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro {
        display: flex;       
        justify-content: center;
        align-items: center;
        &.active {
            padding:0;
            img {
                max-width: 50px;
                padding-right: 75px;
            }
        }
    }

    h1 .choose {
        color: white;
        font-size: 1rem;
}

p.img-frame {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.choose {
    align-items: center;
    padding-right: 100px;
};

    .form, select {
        background: black;
        color: white;
}

    .api-results {
        display: flex;
        flex-wrap: wrap;

}

.img-frame {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.article {
    position: relative;
    width: 33%;
    .pic-size {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    img {
        // max-width: 100%;
        opacity: .85;
    }
    
    img:hover {
        opacity: 1;
    }

    .abstract-summary {
        position: absolute;
        font-size: .9rem;
        color: white;
        bottom: 2px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 1px;
        background: rgba(0,0,0,.75);
        color: white;
    }
}

.footer-news {
    text-transform: uppercase;
}

.footer {
    color: white;
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

}

@include desktop {

    .loader {
        height: 200px;
        margin: 0 auto;
    }

    body {
        background-color: black;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p.img-frame {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .intro {
        display: flex;       
        justify-content: left;
        padding-top: 10%;
        &.active {
            padding:0;
            img {
                max-width: 50px;
                padding-right: 75px;
            }
        }
    }

    .article {
        position: relative;
        width: 25%;
        .pic-size {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    
        img {
            // max-width: 100%;
            opacity: .85;
        }
        
        img:hover {
            opacity: 1;
        }
    
        .abstract-summary {
            position: absolute;
            font-size: 1rem;
            color: white;
            bottom: 2px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 1px;
            background: rgba(0,0,0,.75);
            color: white;
        }
    }
    .footer-news {
        text-transform: uppercase;
    }
};